<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>blank-cordova-gmap</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="android" spec="~6.3.0" />
    <plugin name="cordova-plugin-googlemaps" spec="~2.1.1">
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyC6aOdKuTyj1UM1BP3ZThCIVjgGHlmXDQ0" />
    </plugin>
    <plugin name="cordova-plugin-geolocation" spec="~3.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
</widget>
